
/* header */
header{
    padding:.5rem 0;
    background-color: #f8f9fa;
}

.ms-cont{ 
    background-color: #ffffff;
}
.ms-search{
    background-color: #e5e5e5!important;  
    border-radius: .375rem;  
    margin-left: .625rem;
}

/* logo small */
header .img-fluid{
    height: 60px;
    width: 60px;
}

.form-control{
    background-color:transparent!important;
}

/* common */

li,
ul *{
    list-style: none;

}

/* main */

#left,
#right{
    height: calc(100vh - 6.9375rem);
}

#left{
    background-color: black;
    color: white;
    
}

#right{
   
    width: 100%;
    overflow-y: scroll;
}

/* track studenti */
.vr-blu{
    background-color:#1b72e8; 
    color: white;
    border: 0;
}

.badge{
    background-color:rgba(0, 0, 0, 0.331)!important ;
}

#right .img-fluid{
    height: 1.875rem;
}

.offcanvas{
    width: 100%!important;
}

.btn{
    background-color:#1b72e8;
}

.text-bg-success{
    background-color: green!important;
}
.text-bg-danger{
    background-color: red!important;
}
.text-bg-warning{
    background-color: rgb(255, 217, 4)!important;

}
