.ms-cont{
    height: 6.9375rem;
    background-color: #f8f9fa;
}

#left,
#right{
    height: calc(100vh - 6.9375rem);
}

#left{
    background-color: black;
    width: 20%;
}

#right{
    background-color: pink;
    width: 80%;
    overflow-y: scroll;
}


#right .row{
    background-color: aliceblue;
    margin: 0 0 1.875rem 0;
}